<form class='box' action='/auth/signup' method='POST'>
  <h1>Sign In</h1>
  {{#if errorMessage}}
    <p class='error'>{{errorMessage}}</p>
  {{/if}}
  <label>
    Username:
    <input class='text-input' type='text' name='username' />
  </label>
  <label>
    Password:
    <input class='text-input' type='password' name='password' />
  </label>

  <button class='button' type='submit'>Submit</button>
</form>