<div class='box auto-width form-box'>
  <h1>Welcome {{user.username}}</h1>
  <div class='button-group'>
    <button class='button'>
      <a class='buttonlink' href='/profile/{{user._id}}/collection'>My Beauties</a>
    </button>
    <button class='button'>
      <a class='buttonlink' href='/guitars/create'>New Beauty</a>
    </button>
    <button class='button'>
      <a class='buttonlink' href='#'>Me, Myself and I</a>
    </button>
  </div>
</div>