<div class="box auto-width form-box">
<h1>Tell us about your beauty {{user.name}}</h1>

    {{#if errorMessage}}
        <p class="error">
            {{errorMessage}}
        </p>
    {{/if}}

    <form class="form" action="/guitars/create" method="POST">

        <label> Nickname:
            <input class="text-input" type="text" name="nickName" />
        </label>

        <label> Brand:
            <input class="text-input" type="text" name="brand" /> 
        </label>

        <label> Model:
            <input class="text-input" type="text" name="model" /> 
        </label>

        <label> Country of origin:
            <input class="text-input" type="text" name="countryOrigin" />
        </label>

        <label> Year:
            <input class="text-input" type="number" name="year" />
        </label>


        <label> Type (Electric, Classic, Acoustic):
            <input class="text-input" type='text' name="type"></input>
        </label>

        <label> Fingerboard Material:
            <input class="text-input" type='text' name="fingerboardMaterial"></input>
        </label>

        <label> Pickup Configuration:
            <input class="text-input" type='text' name="pickupConfig"> </input>
        </label>

        {{!-- <label> Image:
            <input type="file" name="image" class="form-control-file" /> 
        </label> --}}

        <label for="textarea"> Please add any artist you know who plays a similar guitar: 
        </label>
        <textarea id="textarea" name="artists"></textarea>

        <button class="button" type="submit"> Create </button> 
    </form>
</div>