<div>
  <div id='title'>
    <div>
      <h1>Heroes cannot save the world without their powers.</h1>
    </div>
    <div>
      <h1>Guitarists cannot make music without guitars.</h1>
    </div>
    <div>
      <h1>Share yours. Find others.</h1>
    </div>
  </div>
  <div id='break'>
    <p>___________</p>
  </div>
  <div id='description'>
    <p>Welcome to GuitHub, a community where guitarists can share their passion and find new ideas for that new guitar
      you dream of.</p>
  </div>
  <div id='details'>
    <div class='details-box'>
      <h4>Explore</h4>
      <p>You can explore the different guitars that other artists own or have created. As a member, you will be able to
        checkout other artists' guitars, and admire your own collection.</p>
    </div>
    <div class='details-box'>
      <h4>Share</h4>
      <p>Ready to share your guitar with the world? Members can create specific profiles of their guitars and share with
        other with the click of a button!</p>
    </div>
  </div>
  <div>
    <h4 id='signup'>Are you ready? <a href='/auth/signup'>Sign up!</a></h4>
  </div>
  <footer>
    <p>Application prepared with Ironlauncher (pending pending)</p>
    <p>Created by
      <a class='auth-link' href='https://www.linkedin.com/in/paul-tiry/'>Paul</a>
      and
      <a class='auth-link' href='https://www.linkedin.com/in/rubenandino/'>Ruben</a></p>
  </footer>
</div>