<div>
  <h1>Heros cannot save the world without their powers.</h1>
  <h1>Guitarists cannot make music without guitars.</h1>
  <h1>Share yours. Find others.</h1>

  <p>Welcome to GuitHub, a community where guitarists can share their passion and find new ideas for that new guitar you
    dream of.</p>
  <div>
    <h4>Explore</h4>
    <p>This platform allows you to explore the different guitars that other guitarists own or have created. As a member,
      you will be able to checkout other guitarists' guitars, and admire your own collection.</p>
  </div>
  <div>
    <h4>Share</h4>
    <p>Ready to share your guitar with the world? Members can create specific profiles of their guitars and share with
      other with the click of a button!</p>
  </div>
  <div>
    <h4>Are you ready? <a href='/auth/signup'>Sign up!</a></h4>
  </div>

  <footer>
    <p>{{appTitle}}</p>
  </footer>
</div>