@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
  --border-color: #bcbcbc;
  --shadow-color: #4e4e4e;
  --error-color: #dd1414;
  --dark-red: #85161a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font: 1rem 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-image: url('../images/cover-image6.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

span {
  align-self: flex-start;
}

a {
  color: #00b7ff;
}
button:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 0.2rem;
  font-size: 1.9rem;
}

input[type='file']:hover {
  cursor: pointer;
}
input[type='file' i]:hover {
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='file'],
select,
textarea {
  padding: 0.3rem 0.5rem;
}

textarea {
  resize: none;
  min-height: 5.5rem;
}

.error {
  color: var(--error-color);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding: 3vh 5%;
  margin-bottom: 5vh;
  background-color: rgba(217, 217, 217, 0.2);
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.8rem;
}

#navbar ul a {
  text-decoration: none;
  color: white;
}

#wrapper {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 100%;
}

.box {
  margin-bottom: 5rem;
  padding: 2% 4%;
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 4px 1px var(--shadow-color);
  border-radius: 30px;
  height: 73vh;
  overflow: scroll;
  background-color: rgba(217, 217, 217, 0.16);
}

.box > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#empty-collection {
  margin-top: 20%;
  text-align: center;
}

.box > img {
  border-radius: 30px;
  max-width: 60%;
}

.auto-width {
  min-width: 30%;
  max-width: 75%;
}

.max-width {
  width: 85%;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0.6rem 0;
}

.form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.button {
  border: none;
  align-self: center;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  border-radius: 10px;
}

.button:active {
  box-shadow: inset 0px 0px 4px 0px black;
}

.button-group {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  row-gap: 1.5rem;
}

.button-group .button {
  width: 100%;
}

.buttonlink {
  color: black;
  text-decoration: none;
}

.edit-btn:active {
  box-shadow: inset 0px 0px 5px 0px black;
}

.row-btns {
  align-self: center;
  display: flex;
  column-gap: 10%;
}

.delete {
  background-color: var(--dark-red);
  color: white;
  border: none;
}

.delete:active {
  box-shadow: inset 0px 0px 4px 0px var(--border-color);
}

.guitars-grid {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 3rem;
}

#title h1 {
  margin-bottom: 4%;
}

#title div:nth-child(1) {
  margin-left: 2%;
}

#title div:nth-child(2) {
  margin-left: 20%;
}
#title div:nth-child(3) {
  /* text-align: center; */
  margin-left: 50%;
}

#description {
  text-align: center;
  font-size: 100%;
  align-items: center;
  margin: 2% 5% 0 45%;
  font-size: 1.5rem;
}

#details {
  display: flex;
  margin: 2% 5% 2% 45%;
}

.details-box {
  margin: 2%;
  background-color: rgba(217, 217, 217, 0.16);
  border: 1px solid #fffcfc;
  border-radius: 20px;
  padding: 4%;
  text-align: center;
  max-width: 40%;
}
.details-box h4 {
  margin-bottom: 5%;
}

#signup {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  text-align: center;
  background-color: var(--dark-red);
  border-radius: 20px;
  margin: 0 20% 0 60%;
  padding: 1% 0 1% 0;
}

#signup > a {
  color: white;
}

#break {
  text-align: right;
  margin-right: 30%;
}

footer {
  display: flex;

  justify-content: space-between;
  margin: 10% 2% 2% 2%;
}
.guitar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10%;
  background-color: rgb(217, 217, 217);
  color: black;
  border-radius: 30px;
  row-gap: 0.6rem;
  width: 60%;
  height: 100%;
}

.guitar-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.guitar-card > h3 {
  text-align: center;
}

.guitar-card > p {
  font-size: 0.85rem;
}

.guitar-card > a {
  max-width: 70%;
}

.guitar-card > a > img {
  border-radius: 30px;
  width: 100%;
}

.guitar-card > form {
  align-self: center;
}

#profile-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
